<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devi`ce-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>
  
  <body>
    <div class=".container-sm">
      <div class="row menuList justify-content-between primary">
        <div class="col-4 col-mb-6 justify-content-start">
          <h4 class="logo">DOYOGA</h4>
        </div>
        <div class="d-sm-none  menu-list-item col-8  justify-content-between">
          <ul class="nav col-3 justify-content-around">
            <li>
              <h6>課程介紹</h6>
            </li>
            <li>
              <h6>瑜珈空間</h6>
            </li>
            <li>
              <h6>當月課表</h6>
            </li>
          </ul>
          <ul class="nav col-6">
            <li class="badge rounded-pill bg-primary"><h6>立即預約</h6></li>
            <li class="badge rounded-pill bg-primary"><h6>聯絡我們</h6></li>
          </ul>
        </div>
      </div>
    <%- contents %>
    </div>

    <footer class="footer">
    footer
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>